<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ChemoSummarizer</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link href ="home.css" rel="stylesheet">
  </head>
  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ChemoSummarizer</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
					<li><a href="http://biosummarizer.wishartlab.com">BioSummarizer</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <!-- Main class -->
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to ChemoSummarizer</h1>
      <p>
        ChemoSummarizer is a tool for creating automated, easy to read
        summaries for chemical compounds. Simply query a chemical compound
        of interest by providing the compound name, InChI Key, or InChI
        and ChemoSummarizer will generate a Wikipedia-like article for the compound
      </p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <ul class="tabs">
        <li><a href="#tab1">By Compound Name</a></li>
        <li><a href="#tab2">By InChI Key</a></li>
        <li><a href="#tab3">By InChI</a></li>
      </ul>
      <div class="clr"></div>
      <section class="block">
        <article id="tab1">
          <h2>By Compound Name</h2>
          <form action="/search/" method="get" id = "form_search">
            <table class="table">
              <tr>
                <th>Enter the compound's name:</th>
                <th><input type= "text" name="name" placeholder = "Acetaminophen"/></th>
              </tr>
            </table>
            <input onclick="loader()" type="submit" source = "#" id ="search"/>
          </form>
        </article>
        <article id="tab2">
          <h2>By InChI Key </h2>
          <form action="/search/" method="get" id = "form_search">
            <table class="table">
              <tr>
                <th>Enter the InChI Key:</th>
                <th><input type= "text"  name="key" placeholder = "RZVAJINKPMORJF-UHFFFAOYSA-N" size = "30"/> </th>
              </tr>
            </table>
            <input onclick="loader()" type="submit" source = "#" id ="search"/>
          </form>
        </article>
        <article id="tab3">
          <h2>By InChI</h2>
          <form action="/search/" method="get" id = "form_search">
            <table class="table">
              <tr>
                <th>Enter the InChI:</th>
                <th><input type= "text"  name="inchi" placeholder = "InChI=1S/C8H9NO2/c1-6(10)9-7-2-4-8(11)5-3-7/h2-5,11H,1H3,(H,9,10) " size ="80"/></th>
              </tr>
            </table>
            <input onclick="loader()" src = "#" type="submit" id ="search"/>
          </form>
        </article>
      </section>
    </div>
		<div id="loader-wrapper">
    <div id="loader"></div>
	  </div>
    <hr>

    <footer>
      <p>© Zachary Budinski 2016</p>
    </footer>
  </div> <!-- /container -->
	<script>
		$('#form_search').submit(function(e) {
		e.preventDefault();
    if($('#search').val().length == 0){
        alert('Please provide input');
        return false;
    		}
		});
	
		function loader() {
			$('#loader-wrapper').show();
			$('#loader').show();
		}

	</script>
  <!-- JQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">		

		</script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <script type="text/javascript">
    $(function(){	
      $('ul.tabs li:first').addClass('active');
      $('.block article').hide();
			$('#loader-wrapper').hide();
			$('#loader').hide();
      $('.block article:first').show();
      $('ul.tabs li').on('click',function(){
        $('ul.tabs li').removeClass('active');
        $(this).addClass('active')
        $('.block article').hide();
        var activeTab = $(this).find('a').attr('href');
        $(activeTab).show();
        return false;
      });
    })
  </script>
  </body>
</html>
