 				body {
				     padding-top: 10px;
				 }

				 p {
				     text-align: left;
				     margin: 2em 0;
				 }

				 .protText {
				     text-align: left;

				 }

				 .result {
				     padding: 4cm 1cm;
				     text-align: left;
				 }

				 #protIDs {
				     margin: 0 auto;
				     width: 340px;
				 }
				 .images_hz{
							   position: relative;
                 float: left;
					}

				 .tablelinks{
					font-size: 12px;
			
				}
				button{
					width:100%
				}

				  img{border:none;display:block}/* add display:block to remove image underline*/
				  #outer{
				    width:100%;
				    margin:auto;
				  }
				  .wrap ul{
				    list-style:none;
				    padding:5px;

				  }
				  .wrap {
				    border:5px solid #ccc;
				    width: 100%;
				    overflow: auto;
				    padding-bottom:14px;
				    white-space:nowrap;
				  }
				  .wrap li {
				    margin:5px;
				    text-align:center;
				    display:-moz-inline-box; /* gecko*/
				    display:inline-block;/* opera and safari*/
				    font-size: x-small;

				    padding:5px;

				  }
				  .wrap li a, .wrap li a span {
					display: block;
					margin: 0 20px 0 20px;
					text-align: center;
					font-size: x-small;
					word-break: break-all;
					width: 500px;
				  }
				h4:after {
					 content:' ';
					 display:block;
					 border:2px solid #d0d0d0;
					 border-radius:4px;
					 -webkit-border-radius:4px;
					 -moz-border-radius:4px;
					 box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
					 -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
					 -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
				}
				h1:after {
					 content:' ';
					 display:block;
					 border:2px solid #d0d0d0;
					 border-radius:4px;
					 -webkit-border-radius:4px;
					 -moz-border-radius:4px;
					 box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
					 -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
					 -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
				}
				.table-of-contents{
					width:100%

				}
